@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

.container {
  max-width: 1920px;
  width: 100%;
  border: 5px solid red;
  font-family: "Inter", sans-serif;
}

.section_1 {
  background-image: url(../photos/Rectangle\ 106.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
}

/* header */

header {
  width: 100%;
  background-color: #d5906e85;
  padding: 26px 12.5%;
  position: fixed;
}
.header_div_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_ul {
  display: flex;
  gap: 3.75rem;
}

.header_li_1 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #d5906e;
}

.header_li_2 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.header_li_3 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.header_title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
}

span {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #d5906e;
}
.header_div_icon {
  display: flex;
  gap: 16px;
}

.header_div_icon p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #ffffff;
}
.icon {
  color: white;
}

/* section */

.section_1_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 86%;
}

.section_1_div h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: #ffffff;
}

.section_1_div_p_1 {
  width: 39%;
  margin-top: 16px;
  margin-bottom: 72px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.section_1_button {
  padding: 19px 117px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border: 2px solid #d5906e;
  border-radius: 10px;
  background-color: initial;
}

/* section 2 */

.section_2 {
  padding: 160px 25.54%;
}

.section_2_div p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 24px;
  /* text-align: center; */
  color: #b53b1b;
}

.section_2_div {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 0 1.5%;
}
.section_2_div div {
  text-align: center;
}

/* section 3 */

.section_3 {
  background: #402101;
  padding: 96px 19%;
}

.section_3 h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.grid_father {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 60px;
}

.grid_father img:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid_father img {
  width: 100%;
  height: 100%;
}

/* section 4 */

.section_4 {
  padding: 160px 8.95%;
  position: relative;
}
.section_4 h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 40px;

  color: #402101;
}

.section_4_div {
  display: flex;

  justify-content: space-between;
}

.section_4_div_lites {
  position: relative;
}

.section_4_div_lites h5 {
  position: absolute;
  left: 5%;
  top: 73%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #b53b1b;
  background: #ffffff;
  border-radius: 20px;
  padding: 15px 17px;
}

.arrow_1 {
  position: absolute;
  top: 54%;
  left: 5%;
  width: 44px;
  height: 44px;
  font-size: 25px;
  color: white;
  background: #b53b1b;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow_2 {
  position: absolute;
  top: 54%;
  right: 5%;
  width: 44px;
  height: 44px;
  font-size: 25px;
  color: white;
  background: #b53b1b;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;
}

.section_4_div_lites img {
  width: 100%;
  height: 100%;
}

/* section 5 */

.section_5 {
  height: 480px;
  background-image: url(../photos/Rectangle\ 98.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.section_5_div h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 56px;

  color: #ffffff;
}

.section_5_input {
  width: 331px;
  height: 56px;
  border: 1px solid #ffffff;
  border-radius: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-color: none;
  padding-left: 10px;

  color: #ffffff;
}

.section_5_button {
  width: 151px;
  padding: 1.1% 8.5%;
  background: #ffffff;
  border-radius: 0px 10px 10px 0px;
}

.section_5_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.section_5_form {
  display: flex;
  justify-content: center;
}

/* article 1 */

.article_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 0;
}

.article_1 h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  color: #402101;
}

.article_div_lite {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 112px;
}

.cards h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 24px;

  color: #b53b1b;
}

.cards p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #402101;
}

.cards {
  width: 23%;
  background: rgba(213, 144, 110, 0.3);
  border-radius: 8px;
}

.article_1 h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 20px;

  color: #402101;
}

.article_1 button {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
  background: #b53b1b;
  border-radius: 10px;
  padding: 0.6% 3%;
}

/* footer */

footer {
  background: #402101;
  display: flex;
  justify-content: center;
  gap: 16%;
  padding: 32px 0 56px 0;
}

.footer_div_1 p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}

.middle_p {
  margin-top: 16px;
  margin-bottom: 8px;
}

.last_p {
  margin-bottom: 43px;
}

.footer_div_2 p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}

.footer_div_2 {
  display: flex;
  flex-direction: column;
  row-gap: 29px;
}

.footer_div_2 div {
  display: flex;
  gap: 16px;
}

/* ARTWORKS.CSS */

.artwork_section_1 {
  background-image: url(../photos/Rectangle\ 107.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 560px;
}

.art_sect_div1 h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: #ffffff;
}

.art_sect_div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 237px;
  row-gap: 72px;
}
